/* Authors: Naomi Ceniceros, Callie Houlihan, Scott Lynch, Thomas Chilton */
/* Styling for headings and background*/
body {
  background-color: #7EBDC2;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #E7BB41;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #E7BB41;
}

h3{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

h4{
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: white;
}

h5{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

p{
  font-family: 'Lato', sans-serif;
  color: #2D3047;
  font-size: 16px;
}

/* Buttons for tabs on Navbar and create acct on index.html */
.button {
  border: none;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #2D3047;
}

.button-setting{
  border: none;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgb(86,102,107);
  color: white;
}
b:link {
  text-decoration: none;
  color: white;
}

b:visited {
  text-decoration: none;
  color: white;
}

b:hover {
  color: #2D3047;
}

/* Styling for Form PopUp in index.html*/
.login-popup{
  position: relative;
  text-align: center;
  width: 100%;
}

.form-popup{
  display: none;
  position: fixed;
  left: 1100px;
  bottom: 705px;
  transform: translate(-200px, 400px);
  border: none;
  z-index: 9;
}

.form-container{
  max-width: 300px;
  padding: 20px;
  background-color: rgb(86,102,107);
}

.form-container input[type=text], .form-container input[type=password]{
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Log In button */
.form-container .btn{
  background-color: rgb(126,189,194);
  border: none;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.8;
}
/* Close button */
.form-container .cancel{
  background-color: rgb(231,187,65);
}
.form-container .btn:hover, .open-button:hover{
  opacity: 1;
}


/* Navigation Bar from Bootstrap */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.row.content {
  height: 450px
}
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
}


.mainpage {
position: relative;
}
.mainpage2 {
position: center;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.text-block {
position: absolute;
top: 100px;
left: 50px;
right: 700px;
background-color: #7EBDC2;
padding-left: 20px;
padding-right: 20px;
padding-top:20px;
padding-bottom: 10px;
}

.text-block2 {
position: absolute;
top: 250px;
left: 50px;
right: 1050px;
background-color: rgb(231,187,65);
padding-left: 20px;
padding-right: 20px;
padding-top:10px;
padding-bottom: 10px;
}

.row::after {
content: "";
clear: both;
display: table;
}
.column {
float: left;
width: 20%;
padding: 40px;
}
.column-container{
width: 120px;
height: 150px;
padding: 9px;
background-color: white;
}

.pagination a {
color: white;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
}

.pagination a.active{
background-color: #E7BB41;
color: white;
}

.pagination a:hover:not(.active){
background-color: rgb(86,102,107);
}